body {
  font-family: system-ui, -apple-system, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.fw-normal {
  font-size: 42px;
  font-weight: 400;
  padding: 10px;
}
.p-3 {padding: 40px;}
// Customized Basic Styles
@import "base/base-fonts"
