// 所有字體變數
@import "variables/font-variables";

// 思源黑體 Noto Sans TC
.font-NotoSansTC {font-family: $font-family-noto-sans-tc;}

// 台北黑體 Taipei Sans
.font-taipeiSans {font-family: $font-family-taipei-sans;}

// 源泉圓體 GenSen
.font-genSen {font-family:$font-family-gen-sen;}

// 思源宋體 Noto Serif Traditional Chinese
.font-NotoSerifTC {font-family: $font-family-noto-serif-tc;}